@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Font-principal: 'Raleway', serif;
    --background-color-1: #f5f5f5;
    --background-color-2: #EAF2FD;
    --Form-Font-color-1: #A2A2A2;
    --Form-border-color: #C8C8C8;
    --Space-blanck-white: #FFFFFF;
    --principal-blue: #2A7AE4;
    --principal-font-color: #464646;
    --Font-regular: 400;
    --Font-semiBold: 600;
    --Font-Bold: 700;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--background-color-1);
}


/*Header*/
.Header{
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding: 1rem;
}

.Header_Nav{
    font-family: var(--Font-principal);
    font-size: 14px;
    color: var(--principal-font-color);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;
}

/*Se ocultan los elementos Mobile first*/
.Header_Nav li:nth-child(1){
    display: none;
}
.Header_Nav li:nth-child(2){
    display: none;
}
.Header_Nav li:nth-child(3){
    display: none;
}
.Header_Nav li:nth-child(4){
    display: none;
}
.Header_Nav li:nth-child(5){
    display: none;
}

/*Header Autor*/
.Header_H2{
    padding-left: 1rem;
    font-family: var(--Font-principal);
    font-weight: var(--Font-Bold);
    font-size: 16px;
    color: var(--color-1);
}


/*Sección Perfil*/
.Main_sect_Profile{
    display: flex;
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}

.Main_sect_Profile_texto{
    padding-top: 1rem;
}

.Main_sect_Profile_Imagen{
    width: 6rem;
    height: auto;
}

.Main_sect_Profile_texto_H1{
    font-family: var(--Font-principal);
    font-size: 22px;
    font-weight: var(--Font-Bold);
    padding-bottom: 1rem;
    color: var(--principal-font-color);
}

.Main_sect_Profile_texto_p{
    font-family: var(--Font-principal);
    font-size: var(--Font-regular);
    color: var(--principal-font-color);
    padding-bottom: 1rem;
}

    /*Redes de contacto*/
.Main_sect_Profile_texto_networks{
    font-family: var(--Font-principal);
    font-size: 14px;
    font-weight: var(--Font-semiBold);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Main_sect_Profile_texto_networks_li{
    display: flex;
    gap: 1rem;
    margin: auto;
}

/*Sección Sobre mi*/
.Main_sect_Sobremi{
    background-color: var(--background-color-2);
    padding: 1rem;
    font-family: var(--Font-principal);
    color: var(--principal-font-color);
}

.Main_sect_Sobremi_H2{
    font-size: 22px;
    font-weight: var(--Font-Bold);
    padding-bottom: 1rem;
}

.Main_sect_Sobremi_paragraph{
    font-size: 14px;
    font-weight: var(--Font-regular);
    padding-bottom: 1rem;
}


/*Sección Skills*/

.Main_sect_Skills_H2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--Font-principal);
    font-weight: var(--Font-Bold);
    font-size: 22px;
    color: var(--principal-font-color);
}

    /*Div contenedor*/
.Main_sect_Skills_Images{
    display: flex;
    padding: 0rem 0.5rem;
    margin-bottom: 0;
    flex-flow: row wrap;
    flex-grow: 1;
    height: 28.125rem;
    justify-content: space-between;
}

    /*Contenedor Imagenes individual*/
.Main_sect_Skills_Images_Figure{
    width: 9.75rem;
    height: 7.375rem;
    padding:1rem;
    margin: 1rem 0.5rem;
    text-align: center;
    font-family: var(--Font-principal);
    font-size: 16px;
    font-weight: var(--Font-Bold);
    background-color: var(--Space-blanck-white);
    box-sizing: border-box;
}

    /*Proíedades de imagen*/
.Main_sect_Skills_Images_Figure img{
    height: 60%;
    width: auto;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*Sección Hobbies*/
.Main_sect_Hoobies_H2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--Font-principal);
    font-weight: var(--Font-Bold);
    font-size: 22px;
    color: var(--principal-font-color);
}

    /*Div contenedor*/
.Main_sect_Hobbies_Images{
    display: flex;
    padding: 0rem 0.5rem;
    margin-bottom: 0;
    flex-flow: row wrap;
    flex-grow: 1;
    height: 28.125rem;
    justify-content: space-between;
}

    /*Contenedor Imagenes individual*/
.Main_sect_Hobbies_Images_Figure{
    width: 9.75rem;
    height: 7.375rem;
    padding:1rem;
    margin: 1rem 0.5rem;
    text-align: center;
    font-family: var(--Font-principal);
    font-size: 16px;
    font-weight: var(--Font-Bold);
    background-color: var(--Space-blanck-white);
    box-sizing: border-box;
}

    /*Proíedades de imagen*/
.Main_sect_Hobbies_Images_Figure img{
    height: 60%;
    width: auto;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*Sección Formación*/
.Main_sect_Formacion{
    background-color: var(--background-color-2);
}

.Main_sect_Formacion_H2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: var(--Font-principal);
    font-weight: var(--Font-Bold);
    font-size: 22px;
    color: var(--principal-font-color);
}

.Main_sect_contact{
    background-color: var(--background-color-2);
}